@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lato&family=Libre+Franklin:wght@600&family=Merienda:wght@700&family=Oi&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-1 img {
    width: 98vw;
}

.container-1 p {
    color: #ffffff;
    position: absolute;
    font-size: 4vw;
    width: 65%;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Libre Franklin";
    text-align: center;
    padding-bottom: 70px;
}

.container-1 span {
    font-size: 6vw;
    font-weight: 700;
}


.container-2 {
    width: 97vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #c5093b; */
}

.container-2-header {
    width: 85vw;
    padding: 50px 0px;
    font-size: 3.5vw;
    font-weight: 700;
    letter-spacing: -3px;
    color: #373b43;
    /* background-color: bisque; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
}

.redline {
    width: 71px;
    height: 9px;
    margin: 35px 0px;
    background-color: #c5093b;
    border-radius: 10px;
}


.container-2-middle {
    width: 95vw;
    height: 422px;
    padding: auto;
    margin: auto;
    margin-top: 0;
    border-radius: 22px;
    background-image: linear-gradient(0deg, #595959 0%, #3b3b3b 99%, #3b3b3b 100%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0px 40px 12px rgba(0, 0, 0, 0.21);
}

.container2-middle-info {
    width: 26vw;
    height: 422px;
    padding: 0px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container2-middle-info-3 {
    padding: 0px 10px;
}

.container2-middle-info div {
    width: 202px;
    height: 202px;
    border: 9px solid;
    border-radius: 50%;
    font-size: 4vw;
padding: 55px 0px;
    font-family: 'Libre Franklin', sans-serif;

}
#container2-middle-info-3{
    padding: 10px 10px;
}
.container2-middle-info p {
    font-size: 24px;
    font-size: 24px;
    letter-spacing: -1px;
    color: white;
    font-weight: 400;
    font-family: 'Libre Franklin', sans-serif;
}

.container-2-lower {
    width: inherit;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 30px 0px;
    /* background-color: aqua; */
}

.container-2-lower p {
    font-size: 3.5vw;
    letter-spacing: -3px;
    line-height: 55px;
    color: #373b43;
    font-weight: 700;
    font-family: "Libre Franklin";
    text-align: center;

}

.container-3 {
    width: inherit;
    height: 670px;
    background-image: linear-gradient(0deg, #595959 0%, #3b3b3b 99%, #3b3b3b 100%);
    box-shadow: 0px 40px 12px rgba(0, 0, 0, 0.21);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;



}

.container-3-1 {
    top: 35px;
    position: absolute;
    /* background-color: #a10f39; */
}

.container3-info {
    width: 960px;
    height: 670px;
    border-radius: 31px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 40px 12px rgba(0, 0, 0, 0.21);
    background-image: linear-gradient(0deg, #ffffff 0%, #f3f3f3 99%, #f3f3f3 100%);
    position: relative;
}

.container3-info img {
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: -25px;

}

.container3-info table {
    position: absolute;
    right: 25px;
    width: 600px;


}

.container3-info table tr th,
tr td {
    color: #000000;
    font-family: "Libre Franklin";
    padding: 25px 45px;

}

table tr th {
    font-size: 2em;
    font-weight: bold;
    border-bottom: 2px solid red;
}

table {
    border-bottom: 2px solid red;
}

.Buy-now {
    width: 150px;
    height: 41px;
    padding: 10px 0px;
    border-radius: 30px;
    font-size: 18px;
    letter-spacing: -1px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Libre Franklin";
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 125px;
    background-image: linear-gradient(0deg, #a10f39 0%, #e5092f 100%)
}

.container-4 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container4-middle {
    margin: 80px 0px;
    width: 89vw;
    height: fit-content;
    border-radius: 22px;
    text-align: center;
    background: linear-gradient(180deg, #c5093b 0%, #e9072d 100%);
    position: relative;
}

.container4-middle p {
    font-size: 4vw;
    padding: 2vw 9vw;
    letter-spacing: -3px;
    line-height: 61px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Libre Franklin";
    position: absolute;
}

.container-5 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 75px;
}

.container-5 img {
    width: 98vw;
}

.container-5-info {
    position: absolute;
    font-size: 2vw;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: "Libre Franklin";
    padding-bottom: 70px;
    top: 0;
    left: 30px;
}

.container-5-info h1 {
    width: 65%;
    text-align: center;
    padding: 10px 10px;
}

.container-5-info ul {
    width: 38%;
    height: 445px;
    font-size: 1.5vw;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 400;
    padding: 5vw 5vw;
    font-family: "Libre Franklin";
}

.container-1 span {
    font-weight: 700;
}

.container-5-info ul li {
    padding: 15px 0px;
    color: #c5093b;

}

.container-5-info ul li span {
    color: #000000;
}

.container-5-lower {
    width: 20px;
    border-radius: 43px;
    font-size: 2vw;
    letter-spacing: -1px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Libre Franklin";
    text-align: center;
    padding: 40px 30px;
    position: absolute;
    background-image: linear-gradient(0deg, #a10f39 0%, #e5092f 100%);
}

.container-6 {
    height: 367px;
    width: 98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container-6-info {
    width: 90vw;
    height: 325px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -55px;
    box-shadow: 0px 40px 12px rgba(0, 0, 0, 0.21);
    background-image: linear-gradient(0deg, #595959 0%, #3b3b3b 99%, #3b3b3b 100%);
}

.container-6-info p {
    padding: 20px 0px;
    width: 80%;
    font-size: 3.5vw;
    line-height: 55px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Libre Franklin";
    text-align: center;
}

.contact {
    width: 233px;
    height: 61px;
    padding: 10px 10px;
    margin: 20px 0px;
    border-radius: 30px;
    font-size: 29px;
    letter-spacing: -1px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Libre Franklin";
    text-align: center;
    background-image: linear-gradient(0deg, #a10f39 0%, #e5092f 100%)
}



@media screen and (max-width: 900px)  {
    html {
        /* background-color: aqua; */
    }


    .container-2 {
        height: fit-content;
    }

    .container-2-header {
        margin: 0;
        padding: 0;

    }

    .container2-middle-info {
        width: 30vh;
    }

    .container-2-middle {
        height: 900px;
        align-items: flex-start;
    }

    .container-3-1 {
        width: 100vw;
    }

    .container3-info {
        width: 98vw;
    }


    .container-6-info {
      position: static;
    }

    .container-6-info p {
        padding: 0;
    }
    .container-5-info ul {
        padding: 0px 20px;
}
.container3-info img {
    height: 300px;

}

.container3-info table {
right: 0;
font-size: 1.3vw;
}

}
@media screen and (max-width: 480px) {
    html {
        /* background-color: lightgreen; */
    }

    .container-1 {
        background-size: contain;
        background-position: top;
        background-color: #a10f39;
        height: 50vw;

    }
    .container-2-middle {
        width: 100vw;
        height: fit-content;
        padding: auto;
        margin: auto;
        }
    
    .container2-middle-info {
        width: 90vw;
        height: 422px;
        
    }
    
    .container2-middle-info-3 {
        padding: 0px 0px;
    }
    
    .container2-middle-info div {
        width: 220px;
        height: 220px;
    
    
    }
    
    .container2-middle-info p {
        letter-spacing: -1px;
        color: white;
        font-weight: 400;
        font-family: 'Libre Franklin', sans-serif;
    }

    .container-3 {
        height: 270px;
        width: 100vw;
        top:0;
        background-color: aqua;

    }
    .container3-info{ 
    height: 270px;
    width: 100vw;
    border-radius: 0px;
    background-color: aquamarine;

 }

    .container3-info table{
        width: 250px;
       
        
    }

    .container3-info table tr th,
tr td {
    font-size: 5px;
    padding: 5px 5px;
   

}

.container3-info img {
 height: 210px;
}

.Buy-now {
width: 100px;
height: 20px;
font-size: 10px;
padding: 2px 0px;
margin: 0px -40px;
}

}